<% if activity_resources_exist?(activity) %>
<div class="timeline-date"><span><%= activity.created_at %></span></div>
  <div class="timeline-content">
    <div class="timeline-avatar">
      <%= render 'shared/avatar', user: activity.owner %>
    </div>
    <div class="timeline-header">
      liked an animal by <%= link_to 'animal', activity.trackable %>
      <!-- <h4 class="name"><% link_to activity.owner.name, animal_path(activity.owner) %></h4> -->
      <span class="action">liked a <%= link_to 'animal', activity.trackable %></span>
      <span class="timeline-autor">
        <%= link_to activity.owner.name, user_path(activity.owner) %>
      </span>
      <p class="timeline-activity">
        <%= activity.trackable.content %>
      </p>
    </div>
  </div>
<% end %>
