<% if activity_resources_exist?(activity) %>
<div class="timeline-date"><span><%= render 'shared/date', activity: activity %></span></div>
  <div class="timeline-content">
    <div class="timeline-avatar">
      <%= render 'shared/avatar', user: activity.owner %>
    </div>
    <div class="timeline-header">
      <span class="timeline-time"><%= render 'shared/created_at', activity: activity %></span>
      Liked <%= link_to activity.trackable.animalName, animal_path(activity.trackable) %>
      <p class="timeline-activity">
        <%= render 'shared/animal_intro_avatar', animal: activity.trackable %>
      </p>
    </div>
  </div>
<% end %>
