<%= form_for(@animal_detail, html: { role: "form", class: "form" } ) do |q| %>
  <div class="actions">
    <h3>Pet Rating</h3>
    <div class="form-group">
      <%= q.label :good_with_cats %>
    </div>
    <div class="form-group">
      <%= q.label :good_with_dogs %>
    </div>
    <div class="form-group">
      <%= q.label :temperment %>
    </div>
    <div class="form-group">
      <%= q.label :health_rating %>
    </div>
    <%= q.submit 'Find your pets Rating', class: 'btn btn-primary' %>
  </div>
<% end %>
