<% if activity_resources_exist?(activity) %>
<div class="timeline-date"><span><%= render 'shared/date', activity: activity %></span></div>
  <div class="timeline-content">
    <div class="timeline-avatar">
      <%= render 'shared/avatar', user: activity.owner %>
    </div>
    <div class="timeline-header">
      <span class="timeline-time"><%= render 'shared/created_at', activity: activity %></span>
      <span class="timeline-autor"><%= link_to activity.owner.name, user_path(activity.owner) %>
        <div class="followee">
            <div class="timeline-avatar">
                <%= render 'shared/avatar', user: activity.trackable.followable %>
                <h4 class="name"><%= link_to activity.trackable.followable.name, user_path(activity.trackable.followable) %></h4>
            </div>
        </div>
      </span>
    </div>
  </div>
<% end %>
