<% if activity_resources_exist?(activity) %>
<div class="timeline-date"><span><%= activity.created_at %></span></div>
<div class="timeline-content">
  <div class="timeline-avatar">
    <%= render 'shared/avatar', user: activity.owner %>
  </div>
  <div class="timeline-header">
    liked a post by <%= link_to 'post', activity.trackable %>
    <span class="timeline-time"><%= render 'shared/created_at', activity: activity %></span>
    <span class="timeline-autor">
      <%= link_to activity.owner.name, user_path(activity.owner) %>
    </span>
    <p class="timeline-activity">
      <%= activity.trackable.content %>
    </p>
  </div>
</div>
<% end %>
