
  <li>
    <%= link_to 'NewsFeed', root_path %>
  </li>
  <!-- <h5>
    <%= fa_icon 'calendar-o' %>
    <%= link_to 'Create Event', new_event_path %>
  </h5> -->
  <li>
    <%= link_to 'Browse Pets', animals_path %>
  </li>
  <li>
    <%= link_to 'View your Pets', animals_user_path(current_user.id) %>
  </li>
  <li>
    <%= link_to 'Friends', friends_user_path(current_user) %>
  </li>
  <li>
    <%= link_to 'Followers', followers_user_path(current_user) %>
  </li>
  <li>
    <%= link_to('Find Friends', find_friends_path)%>
  </li>
  <li>
    <%= link_to 'Edit Profile', edit_user_path(current_user) %>
  </li>
  <li>
    <%= link_to 'Change password', edit_user_registration_path %>
  </li>
