  <h4 class="name"><%= link_to post.user.name, user_path(post.user) %></h4>
  <span class="action">created a <%= link_to 'post', post %></span>
  <span class="text">
    <%= post.content_html %>
  </span>
  <% if post.attachment.present? %>
    <div class="img">
      <%= image_tag post.attachment,size: '120x80' %>
    </div>
  <% end %>
  <%= render 'shared/created_at', activity: post %>
    <span class="like-count"><%= pluralize(post.cached_votes_up, 'like') %></span>
    <span class="comments-count"><%= pluralize(post.comments_count, 'comment') %></span>
      <% if belongs_to_user?(post) %>
        <div class="xs-mb-20">
          <div class="btn-toolbar">
            <div class="btn-group btn-space">
              <%= link_to edit_post_path(post), class: 'btn btn-default' do %>
                <% fa_icon 'pencil' %>
              <% end %>
              <%= link_to post_path(post), method: :delete, class:'btn btn-default', remote: remote do %>
                  <% fa_icon 'trash' %>
              <% end %>
            </div>
              <%= render 'shared/actions', resource: post %>
            </div>
          </div>
      <% end %>
