<% if activity_resources_exist?(activity) %>
<div class="timeline-date"><span><%= render 'shared/date', activity: activity %></span></div>
  <div class="timeline-content">
    <div class="timeline-avatar">
      <%= render 'shared/avatar', user: activity.owner %>
    </div>
    <div class="timeline-header">
      <h4 class="name"><%= link_to activity.owner.name, user_path(activity.owner) %></h4>
      <span class="action">commented on a <%= link_to 'post', activity.trackable.commentable %></span>
      <%= render 'shared/created_at', activity: activity %>
    </div>
    <p class="timeline-activity">
      <%= activity.trackable.comment_html %>
    </div>
  </div>
<% end %>
